

.progress::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 12px;
  height: 12px;
  background: #fff;
  border-radius: 50%;
  cursor: pointer;
}

@media (max-width: 767px) {
  .sidebar-container.show {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    z-index: 1030;
    width: 80%;
    max-width: 250px;
  }
}
body {
  font-family: "Arial", sans-serif;
}
